/* navbar */
.navbar {
  background-color: #5133a3;
  color: white;
  border-color: black;
  min-height: 100px;
}

.brand{
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}